params {
  outdir = 'output'
  mindepth = 1
  maxdepth = 50
  keepbam = false
  threads = 4
  fastp = true
  fastp_args = ''
  mafft = false
  mafft_args = '--auto'
  bwa_index_args = '-a is'
  bwa_args = '-k 15'
}

process {
  cpus = { params.threads as int }
}

conda {
  enabled = true
  useMamba = true
}

singularity {
  enabled = false
  autoMounts = true
}

apptainer {
  enabled = false
  autoMounts = true
}
