params {
  outdir = 'output'
  mindepth = 1
  maxdepth = 50
  keepbam = false
  threads = 4
  fastp = false
  fastp_args = ''
  mafft = false
  mafft_args = '--auto'
}

process {
  cpus = { params.threads as int }
}

conda {
  enabled = true
  useMamba = true
  createOptions = '-q'
}

singularity {
  enabled = false
  autoMounts = true
}

apptainer {
  enabled = false
  autoMounts = true
}
